{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block menu %}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
    <li><a href="/add" class="nav-link px-2 text-secondary">Создать новость</a></li>
</ul>
{% endblock %}

{% block main %}
<section class="text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Регистрация</h1>
        <form class="needs-validation" method="post">
            <input type="text" name="username" id="username" class="form-control" placeholder="Введите логин"
                   required=""><br>
            <input type="password" name="password" id="password" class="form-control" placeholder="Введите пароль"
                   required=""><br>
            <input type="password" name="password2" id="password2" class="form-control" placeholder="Подтвердите пароль"
                   required=""><br>
            <input type="submit" class="btn btn-primary" value="Регистрация">
        </form>
    </div>
</section>

{% endblock %}


